<% form_for :session, :url => signup_action_path do |f| -%>
  <div id="username-label" class="form-label">
		<%= f.label :Username %>
	</div>
	<div id="username-text-input" class="form-input">
  	<%= f.text_field :login, :class => 'top-corners bottom-corners'%>
	</div>
  <div id="password-label" class="form-label">
  	<%= f.label :password %>
	</div>
	<div id="password-text-input" class="form-input">
  	<%= f.password_field :password, :class => 'top-corners bottom-corners' %>
  </div>
  <div id="remember-me-label" class="form-label">
		<label for="remember_me">Remember me:</label>
	</div>
	<div id="remember-me-checkbox" class="form-input">
  	<%= check_box_tag 'remember_me' %>
	</div>
	<div id="login-submit" class="form-submit">
		<%= f.submit 'Log in', :class => "small-button" %>
	</div>
<% end -%>