
<% form_for :user, :url => create_user_action_path do |f| -%>
  <%= f.error_messages %>
	<div id="login-info" >
		<div class="form-label">
			<label for="login">Login</label>
		</div>
		<div class="form-input">
			<%= f.text_field :login, :class => 'top-corners bottom-corners'%>
		</div>
		<div class="form-label">
			<label for="email">Email</label>
		</div>
		<div class="form-input">
			<%= f.text_field :email, :class => 'top-corners bottom-corners' %>
		</div>
	
		<div class="form-label">
			<label for="password">Password</label>
		</div>
		<div class="form-input">
			<%= f.password_field :password, :class => 'top-corners bottom-corners' %>
		</div>
	
		<div class="form-label">
			<label for="password_confirmation">Confirm Password</label>
		</div>
		<div class="form-input">
			<%= f.password_field :password_confirmation, :class => 'top-corners bottom-corners' %>
		</div>
	</div>
	
	<div id="profile-info">
		<div class="form-label">
			<label for="first_name">First Name</label>
		</div>
		<div class="form-input">
			<%= f.text_field :first_name, :class => 'top-corners bottom-corners' %>
		</div>
	
		<div class="form-label">
			<label for="password_confirmation">Last Name</label>
		</div>
		<div class="form-input">
			<%= f.text_field :last_name, :class => 'top-corners bottom-corners' %>
		</div>
	
		<div class="form-label">
			<label for="password_confirmation">About Me</label>
		</div>
		<div class="form-input">
			<%= f.text_area :bio, :class => 'top-corners bottom-corners' %>
		</div>
	</div>
		
	<div class="form-submit clear-both">
		<%= submit_tag 'Sign up', :class => "small-button" %>
	</div>
<% end -%>