<% form_for :session, :url => signup_action_path do |f| -%>
  <p><%= f.label :login%><br/>
     <%= f.text_field :login %></p>

  <p><%= f.label :password%><br/>
     <%= f.password_field :password %></p>

<!-- Uncomment this if you want this functionality
<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>
-->

<p><%= f.submit 'Log in' %></p>
<% end -%>
