<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @page_title %></title>
  <%= stylesheet_link_tag 'general' %>
  <%= stylesheet_link_tag 'jquery-ui-1.8.4.custom' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'jquery-1.4.2.min' %>
  <%= javascript_include_tag 'jquery-ui-1.8.4.custom.min' %>
</head>
