<nav>
	<div class="left">
		<%= link_to 'Home', logged_in? ? user_home_path : home_path %>
		<% if logged_in? then -%>
			<%= link_to 'My Shumarks', user_path(current_user.login) %>
			<%= link_to 'Discover!', home_path %>
		<% end -%>
	</div>
	<div class="right">
		<% if logged_in? then -%>
			Your Shumarker: <span id="shumarklet_url"><%= link_to "Shumark it!", shumarklet_url %></span>
			<script type="text/javascript">
				jQuery("#shumarklet_url").tooltip({
					delay: 0,
					bodyHandler: function() {
						return 'Drag this to your bookmarks bar!<br /><div align="center" style="margin: 5px"><img src="<%= image_path('bookmark-me.jpg') %></div>" />';
					},
					showURL: false
				});
			</script>
		<% end -%>
	</div>
	<div class="clear-both"></div>
</nav>
<div id="topNav">





	




</div>