<div class="pager">
	<% unless @page_index == 0 then %>
		<%= link_to '&lt;&lt;', redir_path, :class => 'small-button' %>
	
		<%= link_to '&lt;', redir_path + "?p=#{[@page_index, 1].max}", :class => 'small-button' %>
	<% end %>
	
	<% (1..(@page_total+1)).each do |i| %>
		<%= link_to i, redir_path + "?p=#{i}", :class => "small-button #{@page_index + 1 == i ? 'current' : ''}" %>
	<% end %>
	
	<% unless @page_index == @page_total %>
		<%= link_to '&gt;', redir_path + "?p=#{[@page_index + 2, @page_total+1].min}", :class => 'small-button' %>
	
		<%= link_to '&gt;&gt;', redir_path + "?p=#{@page_total + 1}", :class => 'small-button'%>
	<% end %>
</div>