<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= render 'layouts/header.html' %>
  </head>

  <body>
    <div id="container">
      <div id="body">
        <div id="header">
          <div id="logo" class="left"></div>
          <div class="right">
            <% if logged_in? then -%>
		    			<%= current_user.login %> |
            	<%= link_to 'Account', edit_user_path %> |
            	<%= link_to 'Logout', logout_path %>
            <% end -%>
          </div>
        </div>
        <div id="topNav">
          <table>
            <tr>
              <td onMouseOver="this.className='mouseOver'" onMouseOut="this.className='mouseOut'">
                <%= link_to 'Home', home_path %>
              </td>
              <% if logged_in? then -%>
	              <td onMouseOver="this.className='mouseOver'" onMouseOut="this.className='mouseOut'">
	                <%= link_to 'My Shumarks', user_queue_path %>
	              </td>
								<td onMouseOver="this.className='mouseOver'" onMouseOut="this.className='mouseOut'">
	                <%= render '/home/bookmarklet' %>
	              </td>
              <% end -%>
              <td onMouseOver="this.className='mouseOver'" onMouseOut="this.className='mouseOut'">
                <%= link_to 'About', "/about" %>
              </td>
            </tr>
          </table>
        </div>        
        <% if flash[:notice] or flash[:error] then %>
          <div id="notifications" style="padding-bottom: 10px; padding-left:20px">
						<% if flash[:notice] then %>
							<div style="width:300px;">&nbsp;</div>
							<div style="width:300px" class="ui-state-highlight ui-corner-all">
								<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-info"></span>
								<%= flash[:notice] %>
					  </div>
					  <% end %>
				  	<% if flash[:notice] then %>
							<div style="width:300px;">&nbsp;</div>
								<div style="width:300px" class="ui-state-error ui-state-error ui-corner-all">
									<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span>
									<%= flash[:error] %>
							  </div>
		          </div>
						<% end %>
					</div>
			  <% end %>
        <div id="content" style="padding-left:20px; padding-right:20px">
          <%= yield %>
        </div>
      </div>
    </div><!-- close conainter -->
  </body>
</html>
