<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= render 'layouts/header.html' %>
  </head>

  <body>
    <div id="container" class="top-corners bottom-corners">
        <div id="header">
          <div id="logo" class="left"></div>
          <div id="top-right-bar" class="right">
            <% if logged_in? then %>
							<%= current_user.home_page_url %> |
            	<%= link_to 'Account', edit_user_path %> |
            	<%= link_to 'Logout', logout_path %>
					  <% else %>
							<%= render '/users/login' %>
            <% end %>
          </div>
					<div class="clear-both"></div>


        </div>

				<% if logged_in? %>
        	<div id="topNav">
	          <%= link_to 'Home', logged_in? ? user_home_path : home_path, :class => 'left'%>
           
		        <% if logged_in? then -%>
		        	<%= link_to 'My Shumarks', user_path(current_user.login), :class => 'left' %>
			       	<%= link_to 'Discover!', home_path, :class => 'left' %>
							<% if @is_following then %>
									<%= link_to "Unfollow", unfollow_path(@user), :class => "small-button"%>
							<% elsif @user and not @is_self %>
									<%= link_to "Follow", follow_path(@user), :class => "small-button"%>
							<% end %>
		        <% end -%>
	
		        <%= link_to 'About', "/about", :class => 'left' %>
	
						<% if logged_in? then -%>
							<span class="right">
		          	Drag your Shumarklet into your bookmark bar
								-&gt; <%= render '/home/bookmarklet' %>
							</span>
						<% end -%>
	        </div>
	     	<% else %>
					<div id="welcome-div" class="clear-both">
						<div id="welcome-message">
							Shumarks is the fastest and easiest ways to share and discover content on the Internet.
						</div>
						<div id="welcome-subheader">
							<%= link_to 'More info', about_path %>
						</div>
						<div class="right clear-both">
							<%= link_to 'Join Today!', signup_path, :class => 'small-button' %>
						</div>
						<div class="clear-both"></div>
					</div>
				<% end %>
			
        <div id="content">
					<% if @header_text %>
						<h1><%= @header_text %></h1>
					<% end %>
					
					<% if flash[:notice] then %>
						<div class="notification ui-state-highlight ui-corner-all">
							<span class="notification-icon ui-icon ui-icon-info"></span>
							<%= flash[:notice] %>
						</div>
				  <% end %>
			  	<% if flash[:error] then %>
						<div class="notification ui-state-error ui-state-error ui-corner-all">
							<span class="notification-icon ui-icon ui-icon-alert"></span>
							<%= flash[:error] %>
					  </div>
					<% end %>
					
					<div class="clear-both"></div>
					<div id="main-content" class="left">
						<%= yield %>
						<div class="clear-both"></div>
					</div>
					<% unless @hide_sidebar then %>
						<div id="side-bar" class="sidebar-widget right">
							<% if logged_in? then %>
								<%= render '/home/friends_bar' %>
							<% end %>
						
							<% if @most_read then %>
								<%= render '/home/most_viewed_bar' %>
							<% end %>
						</div>
					<% end %>
					<div class="clear-both"></div>
        </div>

    </div><!-- close conainter -->
  </body>
</html>
