<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= render 'layouts/header.html' %>
  </head>

  <body>
    <div id="container">
        <div id="header">
          <div id="logo" class="left"></div>
          <div class="right">
            <% if logged_in? then -%>
							<%= current_user.home_page_url %> |
            	<%= link_to 'Account', edit_user_path %> |
            	<%= link_to 'Logout', logout_path %>
					  <% else -%>
							<%= link_to 'Sign up', signup_path %> |
            	<%= link_to 'Login', login_path %>
            <% end -%>
          </div>
					<% if logged_in? and !current_user.first_name and !current_user.last_name and ! current_user.bio then %>
						<div style="color:#165e17; padding:3px; clear:right; float:right; border:#d4ccb0 2px solid;">
							Customize your profile here!
						</div>
					<% end%>
        </div>
        <div id="topNav">
          <%= link_to 'Home', home_path, :class => 'left'%>
           
	        <% if logged_in? then -%>
	        	<%= link_to 'My Shumarks', my_home_path, :class => 'left' %>
	        <% end -%>
	
	        <%= link_to 'About', "/about", :class => 'left' %>
	
					<% if logged_in? then -%>
						<span class="right">
	          	Drag your Shumarklet into your bookmark bar
							-&gt; <%= render '/home/bookmarklet' %>
						</span>
					<% end -%>
        </div>        
			
        <div id="content">
					<% if @header_text %>
						<h1><%= @header_text %></h1>
					<% end %>
					
					<% if flash[:notice] then %>
						<div class="notification ui-state-highlight ui-corner-all">
							<span class="notification-icon ui-icon ui-icon-info"></span>
							<%= flash[:notice] %>
						</div>
				  <% end %>
			  	<% if flash[:error] then %>
						<div class="notification ui-state-error ui-state-error ui-corner-all">
							<span class="notification-icon ui-icon ui-icon-alert"></span>
							<%= flash[:error] %>
					  </div>
					<% end %>
					
					<% if logged_in? then %>
						<div id="main-content" class="left">
							<%= yield %>
						</div>
						<div id="friends-bar" class="right">
							<%= render '/home/friends_bar' %>
						</div>
						<div class="clear-both"></div>
					<% else %>
						<%= yield %>
					<% end%>

        </div>

    </div><!-- close conainter -->
  </body>
</html>
