<!DOCTYPE HTML>
<html class="no-js">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta name="MSSmartTagsPreventParsing" content="TRUE" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="description" content="Shumarks" />
		<meta name="keywords" content="Bookmarks" /> 
		
		<title><%= @page_title %></title>
		
	    <%= render 'layouts/header.html' %>
	    <%= yield :header %>
	</head>

  <body>
	<div id="content">
		<header>
			<div id="logo">
				<a href="/"><img src="<%= image_path('logo.png') %>" alt="Shumarks" /></a>
				<%= render '/sidebar/search' %>
            </div>
            <% if logged_in? then %>
				<%= render '/users/user_menu' %>
			<% else %>
				<%= render '/users/login' %>
            <% end %>
			<div class="clear-both"></div>
        </header>
		<% if @show_welcome %>
		<section id="join-now">
		       	 	<p>Read what your friends are reading with Shumarks.</p>
		            <div>
		            	<div class="left"><%= link_to 'Find out more', about_path, :class => "arrow" %></div>
		                <div class="right"><a href="#"><img src="/images/btn-join-now.gif" alt="Join Now" class="fade" /></a></div>
		                <div class="clear-both"></div>
		            </div>
		        </section>
				<% else %>
					<%= render 'layouts/navigation'%>
				<% end %>
		<div id="main">
			<% if flash[:notice] then %>
				<div class="notification ui-state-highlight ui-corner-all">
					<span class="notification-icon ui-icon ui-icon-info"></span>
					<%= flash[:notice] %>
				</div>
		  <% end %>
	  		<% if flash[:error] then %>
				<div class="notification ui-state-error ui-state-error ui-corner-all">
					<span class="notification-icon ui-icon ui-icon-alert"></span>
					<%= flash[:error] %>
			  </div>
			<% end %>
			
			<%= yield %>
		</div>
		
		<% unless @hide_sidebar then %>
		<aside>
			<% if @sidebars.nil? then %>
				<%= render_sidebar(SidebarHelper::MOST_VIEWED) %>
				<%= render_sidebar(SidebarHelper::TOP_TOPICS) %>
			<% else %>
				<% for bar_part in @sidebars %>
					<%= render_sidebar(bar_part) %>
				<% end %>
			<% end %>
		</aside>
		<% end %>
		
		<div class="clear-both"></div>
		<footer><%= link_to 'About', about_path %> &copy;2010 Shumarks, LLC.</footer>
	</div>
	</div>
  </body>
</html>
