<!DOCTYPE HTML>
<html class="no-js">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta name="MSSmartTagsPreventParsing" content="TRUE" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="description" content="Shumarks" />
		<meta name="keywords" content="Bookmarks" /> 
		
		<title>Shumarks</title>
		
	    <%= render 'layouts/header.html' %>
	    <%= yield :header %>
	</head>

  <body>
	<div id="content">
		<div class="ad">
			<%= render '/ads/ad'%>
		</div>
		<header>
		        	<div id="logo">
            	<a href="/"><img src="images/logo.png" alt="Shumarks" /></a>
            </div>
            <% if logged_in? then %>
							<%= current_user.home_page_url %> |
            	<%= link_to 'Account', edit_user_path %> |
            	<%= link_to 'Logout', logout_path %>
					  <% else %>
							<%= render '/users/login' %>
            <% end %>
        </header>
		<% if @show_welcome %>
		<section id="join-now">
		       	 	<p>Shumarks is the fastest and easiest way to <strong>share and discover content on the Internet.</strong></p>
		            <div>
		            	<div class="left"><%= link_to 'Find out more', about_path, :class => "arrow" %></div>
		                <div class="right"><a href="#"><img src="images/btn-join-now.gif" alt="Join Now" class="fade" /></a></div>
		                <div class="clear-both"></div>
		            </div>
		        </section>
				<% else %>
						<div id="topNav">
		          <%= link_to 'Home', logged_in? ? user_home_path : home_path, :class => 'left'%>

			        <% if logged_in? then -%>
			        	<%= link_to 'My Shumarks', user_path(current_user.login), :class => 'left' %>
				       	<%= link_to 'Discover!', home_path, :class => 'left' %>

								<% if @show_unfollowing then %>
										<%= link_to "Unfollow", unfollow_path(@user), :class => "small-button"%>
								<% elsif @show_following %>
										<%= link_to "Follow", follow_path(@user), :class => "small-button"%>
								<% end %>
			        <% end -%>

			        <%= link_to 'About', "/about", :class => 'left' %>

							<% if logged_in? then -%>
								<span class="right">
			          	Drag your Shumarklet into your bookmark bar
									-&gt; <a href="<%=shumarklet_url%>" class="small-button">Shumark it</a> 
								</span>
							<% end -%>
		        </div>
					<% end %>
		<div id="main">
			<% if flash[:notice] then %>
				<div class="notification ui-state-highlight ui-corner-all">
					<span class="notification-icon ui-icon ui-icon-info"></span>
					<%= flash[:notice] %>
				</div>
		  <% end %>
	  	<% if flash[:error] then %>
				<div class="notification ui-state-error ui-state-error ui-corner-all">
					<span class="notification-icon ui-icon ui-icon-alert"></span>
					<%= flash[:error] %>
			  </div>
			<% end %>
			
			<section id="shumarks">
				<h2><%= @header_text %></h2>
					<%= yield %>
			</section>
		</div>
		
		<% unless @hide_sidebar then %>
		<aside>
			<%= render '/sidebar/search' %>
			<%= render '/sidebar/most_viewed_bar' %>
			<%= render '/sidebar/top_topics' %>
		</aside>
		<% end %>
		
		<div class="clear-both"></div>
		<footer><%= link_to 'About', about_path %> &copy;2010 Shumarks, LLC.</footer>
	</div>
    <div id="container" class="all-corners">
     
	     	
			
        <div id="content">
					
					
						<div id="side-bar" class="sidebar-widget right">
							
							<% if logged_in? then %>
								<%= render '/sidebar/friends_bar' %>
							<% end %>
						
							
						</div>
					<div class="clear-both"></div>
        </div>

    </div><!-- close conainter -->

		<div class="ad">
			<%= render '/ads/ad'%>
		</div>
	</div>
  </body>
</html>
