<div id="mid" style="padding:10px;">
  <div id="login" class="ui-widget ui-corner-all">
    <div class="pad ui-widget-header">Login</div>
    <div class="pad">
      <% form_for :session, :url => signup_action_path do |f| -%>
        <span class="pad">
					<%= f.label :Username%><br/>
        	<%= f.text_field :login %>
				</span>
        <div class="pad"></div>
        <span class="pad">
					<%= f.label :password%><br/>
        	<%= f.password_field :password %>
				</span>
        <div class="pad"></div>
        <span class="pad">
					<label for="remember_me">Remember me:</label>
        	<%= check_box_tag 'remember_me' %></span>
        <span>
				<div class="pad"></div>
				<span class="pad">
					<%= f.submit 'Log in', :class => "small-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover ui-state-active" %>
				</span>
   		<% end -%>
    </div>
</div>

<div id="register" class="ui-widget ui-corner-all">
	<div class="pad ui-widget-header">Sign Up</div>
		<div class="pad">
		<%= error_messages_for :user %>
		<% form_for :user, :url => create_user_path do |f| -%>
			<span class="pad"><label for="login">Login</label><br/>
				<%= f.text_field :login %>
			</span>
			<div class="pad"></div>
			<span class="pad">
				<label for="email">Email</label><br/>
				<%= f.text_field :email %>
			</span>
			<div class="pad"></div>
			<span class="pad">
				<label for="password">Password</label><br/>
				<%= f.password_field :password %>
			</span>
			<div class="pad"></div>
				<span class="pad">
					<label for="password_confirmation">Confirm Password</label><br/>
					<%= f.password_field :password_confirmation %>
				</span>
			<div class="pad"></div>
			<span>
				<%= submit_tag 'Sign up', :class => "small-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover ui-state-active" %>
		  </span>
			<% end -%>
		</div>
	</div>
</div>