<div class="friend-widget">
	<div class="section-header">
		Search
	</div>
	<div class="section">
		<div>Find your friends!</div>
		<form action="<%= search_users_path %>" method="post">
			<div>
				<input id="search-text-input" name="user_name"/>
			</div>
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" />
			<div>
				<input type="submit" class="small-button" value="Search" />
			</div>
		<form>
	</div>


	<div class="section-header">
		Following <%= current_user.followees.count %>
	</div>
	<div class="section">
		<% for following in current_user.followees.all(:limit => 3) -%>
			<div>
				<%= link_to "#{following.login} (#{following.links.length})", user_home_path(following.login) %>
			</div>
		<% end -%>
		<div>
			<% if current_user.followees.count > 0 %>
				<%= link_to "see all", follow_list_path, :class => 'right'%>
				<div class="clear-both"></div>
			<% else %>
				You are not following anyone yet.
			<% end %>
		</div>
	</div>

	<div class="section-header">
		Followers <%= current_user.followers.count %>
	</div>
	<div class="section">
		<% for follower in current_user.followers.all(:limit => 3)-%>
			<div>
				<%= link_to "#{follower.login} (#{follower.links.length})", user_home_path(follower.login)%>
			</div>
		<% end -%>
		<div>
		<% if current_user.followers.count > 0 %>
			<%= link_to "see all", follower_list_path, :class => 'right'%>	
			<div class="clear-both"></div>
		<% else %>
			No one is following you yet.
		<% end %>
		</div>
	</div>
</div>
