<div id="createlink" class="ui-widget">
<h2 class="ui-widget-header ui-state-default ui-state-active ui-corner-top pad">Add New Link</h2>
<% if error_messages_for then %><div class=""><%= error_messages_for :link %></div><% end %>
<div id="queue" class="ui-widget">
<% form_for :link, :url => user_create_link_path do |f| %>
  <p>
    <%= f.label :name, "Name" %>
    <br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url, "URL" %>
    <br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit "Add Link" %>
  </p>
<% end %>
</div>
</div>
