<section id="link" class="style-three">
	<div id="top">
		<img src="<%= image_path('user-icon.gif') %>" alt="" class="user-icon" />
		<div class="shumark">
			<h2>
				<%= link_to link.name, link_redirect_path(link), :target => "_blank" %>
			</h2>
			<span class="secondary">Added by <%= link_to link.user.login, user_path(link.user.login) %> <%= time_ago(link.created_at)%></span>
			<span class="secondary">Source: <a href="#">123.com</a></span>
		</div>
		<img src="<%= image_path('topic-icon.gif') %>" alt="" class="topic-icon" />
		<div class="clear-both"></div>
	</div>
	<div id="summary">
		<strong>Summary: </strong><%= link.blurb %>
	</div>
</section>