<% char_limit = 70 unless char_limit %>
<% desc_limit = 150 %>
<% last_item = false unless last_item %>
<section class="item <%= last_item ? 'last-list-item' : '' %>" onmouseover="showRemoveLink(<%= link.id %>)" onmouseout="hideRemoveLink(<%= link.id %>)">
	<a href="#"><img src="<%= image_path('user-icon.gif') %>" alt="" class="user-icon" /></a>
	<div class="shumark">
		<h2><%= link_to link.short_name(char_limit), link_path(link) %></h2>
		<div><%= link.short_blurb(desc_limit) %></div>
		<div class="secondary">Added by <%= link_to link.user.login, user_path(link.user.login) %> <%= time_ago(link.created_at)%>,  <%= link.comments.count %> comments, <%= pluralize(link.readers.count, 'view') %>.
			<%= 
				if @show_delete then
					link_to 'Remove link.', delete_link_path(link), 
						:id => ("delete-link-#{link.id}"), 
						:class => 'display-none destructive-link' 
				end 
			%>
		</div>
	</div>
	<a href="#"><img src="<%= image_path('topic-icon.gif') %>" alt="" class="topic-icon fade" /></a>
	<div class="clear-both"></div>
</section>