<tr id="<%= link.id %>">
	<td width="80%" class="link_name_holder">
		<div class="link_name">
			<%= link_to link.name, view_link_path(link), :class => 'link'%>&nbsp;&nbsp;
		</div>
		<div class="blurb">
			<%= link.blurb %>
		</div>
		<div class="meta">
			Added <%= link.created_at.in_time_zone.strftime('%I:%M%p, %m/%d/%Y') %>
		</div>
	</td>
<td width="20%" style="vertical-align:middle"><% if logged_in? && @user && @user.id == current_user.id then -%>
	<%= link_to '(remove)', delete_link_path(link), :id => ('link_remove-' + link.id.to_s), :style => 'display:none', :class => 'link_remove' %><% end -%>
</td>
</tr>
<script type="text/javascript">
$(document).ready(function(){
$("#<%= link.id.to_s %>").hover(function()
{
    $("#link_remove-<%= link.id.to_s %>").css("display", "inline");
},function()
{
    $("#link_remove-<%= link.id.to_s %>").css("display", "none");
});
}
);
</script>
