<% form_for :link, :url => link_save_url, :html => { :id => 'shumark-form' }, :method => 'POST' do |f| -%>
	<div class="form-label">
		<label for="url">Url: </label>
	</div>
	<div class="form-input-error-list">
		<%= errors_for(@link, :url) %>
	</div>
  <div class="form-input">
  	<%= f.text_field :url, :class => 'top-corners bottom-corners', :value => @link.url %>
  </div>
	<div class="form-label">
		<label for="name">Title: </label>
	</div>
	<div class="form-input-error-list">
		<%= errors_for(@link, :name) %>
	</div>
  <div class="form-input">
  	<%= f.text_field :name, :class => 'top-corners bottom-corners', :value => @link.name %>
  </div>
	<div class="form-label">
		<label for="blurb">Blurb: </label>
	</div>
	<div class="form-input-error-list">
		<%= errors_for(@link, :blurb) %>
	</div>
  <div class="form-input">
  	<%= f.text_area :blurb, :class => 'top-corners bottom-corners', :value => @link.blurb %>
  </div>
  <div class="form-input">
	<div id="social-login-text"></div>
	<table border="0" width="100%">
		<tr>
			<td><div id="fb-login-button"></div></td>
			<td><div id="twitter-login-button"></div></td>
		</tr>
	</table>
  </div>
	<div class="form-input">
		<p id="fb-integrationpoint"></p>
		<div id="fb-root"></div>
	    <script>
		var fb_appid = '160338477351298';
		
		var fb_loggedin = false;
		var twitter_loggedin = false;
		
		function showSocialLoginText()
		{
			var social_login_html = '<div style="font-weight:bold">Log into your social networks to enable Shumarks integration.</div><div style="font-size:10px">(Shumarks will <strong>NEVER</strong> post <strong>ANYTHING</strong> without asking you.)</div>';
			var social_login = jQuery('#social-login-text');
			social_login.empty();
			social_login.append(social_login_html);
		}
		
		function maybeClearSocialLoginText()
		{
			if (fb_loggedin && twitter_loggedin)
			{
				jQuery('#social-login-text').empty();
			}
		}
		
		function shumarkIt()
		{
			var shumarkButton = jQuery('#shumark-submit');
			shumarkButton.val('Shumarking...');
			shumarkButton.attr('disabled', true);
			
			/*if (jQuery('#post-twitter-checkbox').is(':checked'))
			{
				var sm_link = jQuery('#link_url').val();
				var sm_name = jQuery('#link_name').val();
				var sm_caption = sm_link.length > 30 ? (sm_link.substr(0, 30) + "...") : sm_link;
				var sm_description = jQuery('#link_blurb').val();
				twttr.anywhere(function (T) {
					if (T.isConnected()) {
					        
						T.Status.update(sm_name);

					      } else {
					        alert("lol...");
					      }
				});
			}*/
			
			if (jQuery('#post-fb-checkbox').is(':checked'))
			{
				var sm_link = jQuery('#link_url').val();
				var sm_name = jQuery('#link_name').val();
				var sm_caption = sm_link.length > 30 ? (sm_link.substr(0, 30) + "...") : sm_link;
				var sm_description = jQuery('#link_blurb').val();
				FB.api('/me/feed', 'post', { link : sm_link, name : sm_name, caption : sm_caption, description: sm_description }, function(response) {
				  if (!response || response.error) {
					// An error occurred...
					showFBFail();
				  } else {
				    showFBSuccess();
				  }
				  jQuery('#shumark-form').submit();
				});
			}
			else
			{
				jQuery('#shumark-form').submit();
			}
		}
		
		function showFBSuccess()
		{
			clearFBIntegration();
			jQuery('#fb-integrationpoint').append('<div style="color:#008500; font-weight:bold">Success posting to Facebook.</div>');
		}
		
		function showFBFail()
		{
			clearFBIntegration();
			jQuery('#fb-integrationpoint').append('<div style="color:#850000; font-weight:bold">Could not post to Facebook.</div>');
		}
		
		function clearFBIntegration()
		{
			jQuery('#fb-integrationpoint').empty();
			jQuery('#fb-login-button').empty();
		}

	      window.fbAsyncInit = function() {
			// Initialize Facebook JavaScript SDK.
	        FB.init({appId: fb_appid, status: true, cookie: true, xfbml: true});
	
			function parseFBElement(node_name)
			{
				FB.XFBML.parse(document.getElementById(node_name));
			}
	
			function showFBIntegration()
			{
				maybeClearSocialLoginText();
				FB.api('/me', function(response) {
				  	clearFBIntegration();
					jQuery('#fb-integrationpoint').append('<input type="checkbox" name="post_fb" id="post-fb-checkbox" value="true" checked /> Post this link on Facebook as <strong>' + response.name + '</strong> <fb:profile-pic uid="' + response.id + '" linked="false" size="t" width="25" height="25"></fb:profile-pic> <span style="font-size:10px">(<a href="javascript:FB.logout();">Not you?</a>)</span>');
					parseFBElement('fb-integrationpoint');
				});
			}
			
			function showFBLogin()
			{
				showSocialLoginText();
				clearFBIntegration();
				jQuery('#fb-login-button').prepend('<fb:login-button autologoutlink="true" perms="publish_stream"></fb:login-button>');
				parseFBElement('fb-login-button');
			}
	
			// If user is logged in, display the option to post to FB.  Otherwise display the login button.
			FB.getLoginStatus(function(response) {
			  if (response.session) {
				// User session data available, so show option to post to FB.
				fb_loggedin = true;
				showFBIntegration();
			  } else {
				// No user session data available, so show login button.
				fb_loggedin = false;
			    showFBLogin();
			  }
			});
			
			FB.Event.subscribe('auth.login', function(response) {
				fb_loggedin = true;
			  showFBIntegration();
			});
			
			FB.Event.subscribe('auth.logout', function(response) {
			  fb_loggedin = false;
			  showFBLogin();
			});
	      };
	    </script>
	</div>
	<div class="form-input">
		<span id="twitter-integrationpoint"></span>
		<script type="text/javascript">
		
		var twitter_user;
		
		function clearTwitterIntegration()
		{
			jQuery('#twitter-integrationpoint').empty();
			jQuery('#twitter-login-button').empty();
		}
		
		function showTwitterLogin()
		{
			showSocialLoginText();
			clearTwitterIntegration();
			jQuery('#twitter-login-button').prepend('<div id="twitter-login"></div>');
			twttr.anywhere(function (T) {
				T("#twitter-login").connectButton();
			});
		}
		
		function showTwitterIntegration()
		{
			maybeClearSocialLoginText();
			clearTwitterIntegration();
			currentUser = twitter_user;
			screenName = currentUser.data('name');
			profileImage = currentUser.data('profile_image_url');
			profileImageTag = "<img src='" + profileImage + "' width='24' height='24'/>";
			jQuery('#twitter-integrationpoint').append('<input type="checkbox" name="post_twitter" id="post-twitter-checkbox" value="true" checked /> Post this link on Twitter as <strong>' + screenName + '</strong> ' + profileImageTag + ' <span style="font-size:10px">(<a href="javascript:twttr.anywhere.signOut();">Not you?</a>)</span>');
		}

		twttr.anywhere(function (T) {
			T.bind("authComplete", function (e, user) {
			      // triggered when auth completed successfully
				  twitter_loggedin = true;
				  twitter_user = user;
				  showTwitterIntegration();
			    });

			    T.bind("signOut", function (e) {
			      // triggered when user logs out
				  twitter_loggedin = false;
			      showTwitterLogin();
			    });
			
			if (twitter_loggedin = T.isConnected()) {
				twitter_user = T.currentUser;
				showTwitterIntegration();
			} else {
				showTwitterLogin();
			};
  
		});

		</script>
	</div>
	<br />
	<div class="form-submit clear-both">
		<input id="shumark-submit" type="button" value="Shumark it!" class="small-button" onclick="javascript:shumarkIt();" />
	</div>
<% end %>