<% form_for :link, :url => link_save_url, :method => 'POST' do |f| -%>
	<div class="form-label">
		<label for="url">Url: </label>
	</div>
	<div class="form-input-error-list">
		<%= errors_for(@link, :url) %>
	</div>
  <div class="form-input">
  	<%= f.text_field :url, :class => 'top-corners bottom-corners', :value => @link.url %>
  </div>
	<div class="form-label">
		<label for="name">Title: </label>
	</div>
	<div class="form-input-error-list">
		<%= errors_for(@link, :name) %>
	</div>
  <div class="form-input">
  	<%= f.text_field :name, :class => 'top-corners bottom-corners', :value => @link.name %>
  </div>
	<div class="form-label">
		<label for="blurb">Blurb: </label>
	</div>
	<div class="form-input-error-list">
		<%= errors_for(@link, :blurb) %>
	</div>
  <div class="form-input">
  	<%= f.text_area :blurb, :class => 'top-corners bottom-corners', :value => @link.blurb %>
  </div>
	<div class="form-input">
		<p id="fb-integrationpoint"></p>
		<div id="fb-root"></div>
	    <script>
		var fb_appid = '160338477351298';
		jQuery.cookie = function(name) {
		    var cookieValue = null;
	        if (document.cookie && document.cookie != '') {
	            var cookies = document.cookie.split(';');
	            for (var i = 0; i < cookies.length; i++) {
	                var cookie = jQuery.trim(cookies[i]);
	                // Does this cookie string begin with the name we want?
	                if (cookie.substring(0, name.length) == name) {
	                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                    break;
	                }
	            }
	        }
	        return cookieValue;
		};

	      window.fbAsyncInit = function() {
			// Initialize Facebook JavaScript SDK.
	        FB.init({appId: fb_appid, status: true, cookie: true, xfbml: true});
	
			function getFBAccessToken(cookie_string)
			{
				return cookie_string.substring(cookie_string.indexOf('=') + 1, cookie_string.indexOf('&'));
			}
	
			function parseFBElement()
			{
				FB.XFBML.parse(document.getElementById('fb-integrationpoint'));
			}
	
			function showFBIntegration()
			{
				FB.api('/me', function(response) {
				  	jQuery('#fb-integrationpoint').empty();
					var cookie = jQuery.cookie('fbs_' + fb_appid);
					jQuery('#fb-integrationpoint').append('<input type="checkbox" name="post_fb" value="' + response.id + '&' + getFBAccessToken(cookie) + '" checked /> Post this link on Facebook as <strong>' + response.name + '</strong> <fb:profile-pic uid="' + response.id + '" linked="false" size="t" width="25" height="25"></fb:profile-pic> <span style="font-size:10px">(<a href="javascript:FB.logout();">Not you?</a>)</span>');
					parseFBElement();
				});
			}
			
			function showFBLogin()
			{
				jQuery('#fb-integrationpoint').empty();
				jQuery('#fb-integrationpoint').prepend('<div style="font-weight:bold">You must log into Facebook to enable Shumarks integration.</div><div style="font-size:10px">(Shumarks will <strong>NEVER</strong> post <strong>ANYTHING</strong> to Facebook without asking you.)<fb:login-button autologoutlink="true" perms="publish_stream"></fb:login-button>');
				parseFBElement();
			}
	
			// If user is logged in, display the option to post to FB.  Otherwise display the login button.
			FB.getLoginStatus(function(response) {
			  if (response.session) {
				// User session data available, so show option to post to FB.
				showFBIntegration();
			  } else {
				// No user session data available, so show login button.
			    showFBLogin();
			  }
			});
			
			FB.Event.subscribe('auth.login', function(response) {
			  showFBIntegration();
			});
			
			FB.Event.subscribe('auth.logout', function(response) {
			  showFBLogin();
			});
	      };
	    </script>
	</div>
	<br />
	<div class="form-submit clear-both">
		<%= submit_tag 'Shumark it!', :class => "small-button" %>
	</div>
<% end %>