<% content_for :header do %>
  <script type="text/javascript">
	function reset_comment_text() {
	  jQuery('#comment_text').val('');
	}
	
	function update_next_comment_page(){
	  var nextPage = jQuery('#next-comment-page');
	  var newDiv = jQuery('<div class="comments display-none">');
	  var newComments = jQuery('#newly-loaded-comments');
	  
    newDiv.html(newComments.html());
	  nextPage.val("" + (parseInt(nextPage.val()) + 1));
	  jQuery('.comments').last().after(newDiv);
	  newDiv.slideDown(1000);
	  newComments.hide().html('');
    redefine_last_comment();
	}
  
  function redefine_last_comment() {
    jQuery('.last-comment').removeClass('last-comment');
    jQuery('.comments').last().find('.comment').last().addClass('last-comment');
  }
  
  jQuery(document).ready(function() {
    jQuery('#next-comment-page').val('2');
    redefine_last_comment();
  });
  </script>
<% end %>

<%= render 'links/detailed_link', :link => @link %>

<section id="comments" class="style-three">
	<header>
		<h2><%= @link.comments.count %> comments</h2>
		<% if logged_in? then %>
		<a href="#AddAComment"><img src="<%= image_path('btn-add-one.gif') %>" alt="Add One" /></a>
		<% end %>
	</header>
  <div class="comments">
	  <%= render @comments %>
  </div>
	<div id="new-comment"></div>
	<div id="newly-loaded-comments" class="display-none"></div>
	<% form_remote_tag :url => comment_show_path(@link.id),
			:update => {:success => 'newly-loaded-comments', :failure => 'comment-error'},
		  :position => :bottom,
		  :method => :get,
		  :complete => 'update_next_comment_page()' do 
	   %>
		 <input type="hidden" id="next-comment-page" name="p" value="2"/>
		 <%= submit_tag 'Load More Comments', :id => 'load-more-comments-button' %>
	<% end %>
</section>

<% if logged_in? then %>
	<a name="AddAComment"></a>
	<section id="add-comment" class="style-three">
		<h2>Add a comment</h2>
		<div class="left">
		  <img src="<%= image_path('user-icon.gif') %>" alt=""><br>
      <%= link_to current_user.login, user_path(current_user) %>
      </div>
		<div class="right">
			<div id="comment-error"></div>
			  <% form_remote_tag :url => comment_create_path,	
						:update => {:success => 'new-comment', :failure => 'comment-error'}, 
						:position => :bottom,
						:success => 'reset_comment_text()' do 
			   %>
				<%= text_area 'comment', 'text', :cols => 30, :rows => 5 %>
				<%= hidden_field 'comment', 'link_id', :value => @link.id %>
				<%= submit_tag 'Submit', :class => 'btn fade', :src => image_path('btn-add.gif'), :type => "image", :alt => "Search" %>
			  <% end %>
		</div>
		<div class="clear-both"></div>
	</section>
<% end %>